<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
     <bean id="DaoImpl" class="com.kuang.dao.UserDaoImpl"/>
     <bean id="MysqlImpl" class="com.kuang.dao.UserDaoMysqlImpl"/>
     <bean id="OracleImpl" class="com.kuang.dao.UserDaoOracleImpl"/>
     <bean id="UserService" class="com.kuang.services.UserServiceImpl">
          <property name="userDao" ref="DaoImpl"/>
     </bean>
</beans>