<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	https://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userServiceImpl" class="com.cz.service.UserServiceImpl"/>
    <bean id="diy" class="com.cz.diy.Diy"/>

    <!--  切面配置  -->
    <aop:config>
        <!--     自定义切面,ref要引用自定义的切面类   -->
        <aop:aspect id="myAspect" ref="diy">
            <!-- 切点配置,expression要配置切点表达式  -->
            <aop:pointcut id="point" expression="execution(* com.cz.service.*.*(..))"/>
            <aop:before method="before" pointcut-ref="point"/>
            <aop:after method="after" pointcut-ref="point"/>

        </aop:aspect>
    </aop:config>


    <!--  开机注解的支持  -->
    <context:annotation-config/>
</beans>